# Core Django & Server
Django==5.2.6
gunicorn==23.0.0

# Database
psycopg2-binary==2.9.10
dj-database-url==3.0.1

# Environment & Settings
python-decouple==3.8
whitenoise==6.9.0

# Django Apps & API
djangorestframework==3.16.1
django-cors-headers==4.8.0
django-guardian==3.1.2

# Celery & Redis for Background Tasks
celery==5.5.3
redis==6.4.0
django-redis==6.0.0

# Utilities
Pillow==11.3.0